<mat-sidenav-container
  class="leaflet-sidenav-container"
  [style.height]="'100vh'"
  [hasBackdrop]="false"
>
  <!-- Overlay Sidenav (no backdrop) -->
  <mat-sidenav #drawer mode="over" position="start" class="sidebar">
    <!-- Sidebar content shown only if there's a selected experience -->
    <app-experience-sidebar
      *ngIf="selectedExperience"
      [experience]="selectedExperience"
      (closeSidebar)="closeSidebar()"
      (refreshMap)="refreshMap()"
    >
    </app-experience-sidebar>
  </mat-sidenav>

  <!-- Main map content -->
  <mat-sidenav-content>
    <div class="container-fluid d-flex flex-column vh-100">
      <!-- Top row with city dropdown and date picker -->
      <div class="row bg-light px-2 pt-3">
        <div class="col-6">
          <!-- City Dropdown -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Select City</mat-label>
            <mat-select
              [(value)]="selectedCity"
              (selectionChange)="onCityChange($event.value)"
            >
              <mat-option *ngFor="let c of cities" [value]="c">
                {{ c.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <!-- Date Picker -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Select Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="selectedDate"
              (dateChange)="onDateChange()"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- Map row -->
      <div class="row flex-grow-1">
        <div class="col-12 p-0 position-relative">
          <div id="map" class="map-container"></div>

          <!-- Floating + Button -->
          <button
            mat-fab
            color="primary"
            class="add-button"
            (click)="openCreateModal()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
